<section class="hero is-full-height">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="/img/logo.jpeg" alt="{{site.title}}">
          </a>
          <span class="navbar-burger burger" data-target="navbarMenuHeroB">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenuHeroB" class="navbar-menu">
          <div class="navbar-end">
            <!-- <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Examples
            </a> -->
            <span class="navbar-item">
              <a href="{{ site.google_maps }}" class="button is-primary">
                <span>Directions</span>
                <span class="icon">
                  <i class="fa fa-directions"></i>
                </span>
              </a>
            </span>
            <span class="navbar-item">
              <a href="tel:{{ site.phone }}" class="button is-primary">
                <span>Call</span>
                <span class="icon">
                  <i class="fa fa-phone"></i>
                </span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
  </div>

  <div class="hero-body">
    <div class="container has-text-centered">
      <img src="/img/logo.jpeg" alt="{{site.title}}" class="title is-16by9" style="max-height: 500px">
      <p class="subtitle is-3 has-text-primary has-text-weight-bold">{{site.tagline | upcases }}</p>
      <div class="buttons are-large is-centered">
        <a href="{{ site.google_maps }}" class="button is-large is-primary is-outlined">
          <span>Directions</span>
          <span class="icon">
            <i class="fa fa-directions"></i>
          </span>
        </a>
        <a href="tel:{{ site.phone }}" class="button is-primary is-large is-outlined">
          <span>Call</span>
          <span class="icon">
            <i class="fa fa-phone"></i>
          </span>
        </a>
      </div>
    </div>
  </div>


</section>